.project-container{
  border: solid purple;
  /* height: 100vh;
  width: 100vw;
  scroll-snap-align: start; */
}

.project-title{
  font-size: 250%;
}

.project{
  border: solid green;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.project-div{
  border: solid red;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 1000px;
}

.project-image{
   border: solid blue;
   width: 500px;
   height: auto;
}