.skill-container{
  border: solid red;
  /* height: 100vh;
  width: 100vw; */
  /*scroll-snap-align: start; */
}

.skill-image{
  height: 100px;
  width: auto;
}

.skill-div{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.skill-title{
  font-size: 250%;
  margin-top: 20px;
  margin-bottom: 50px;
}